* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    margin: 0;
    background-color: #3a3838;
    border-radius: 0;
}

li {
    color:grey;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

#ninja-logo {
    max-height: 250px;
}

.alert {
    border-radius: 0;
    margin:0;
    text-align: center;
}

.panel {
    border-radius: 0;
}