* {
    margin: 0;
    padding: 0;
}

html{
  position:relative;
  min-height: 100%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ececec;
}

.navbar {
    margin: 0;
    background-color: #3a3838;
    border-radius: 0;
}

li {
    color:grey;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

#ninja-logo {
    max-height: 250px;
}

.alert {
    border-radius: 0;
    margin:0;
    text-align: center;
}

.panel {
    border-radius: 0;
}

.light-grey-box {
    background-color: #f6f6f6;
    height: 25px;
}

.margin-grey-box {
    margin-bottom:100px;
}

.topic_list_box {
    font-size: 125%;
}

.topic_list_box a {
    font-weight: bold;
    color: #3a3838;
}

.topic_list_seznam tr:nth-child(2n+1) {
    background-color: #f6f6f6;
}

.topic_list_seznam tr:hover {
    background-color: #d3d3d3;
}

.profile_topic_title {
    color:white;
}

.profile_topic_title:hover {
    color:white;
}

.profile_data p {
    font-size: 125%;
}

.profile_data_img {
    max-height: 50px;
}


.topic_create_box {
    margin-top: 5%;
}

.create_topic_img {
    max-height: 50px;
    margin: -10px 10px 10px 0;;
    float: right;
}

.sub_img {
    margin-top: -38px;
    max-height: 40px;
}

.create-form {
    background-color: white;
    padding: 15px;
}

.topic_box {
    margin-top: 10px;
    margin-bottom: 15px;
}

.topic_author {
    padding: 10px;
    background-color: #939393;
    color: white;
    font-size: 125%;
}

.edit_delete img {
    max-height: 35px;
    margin-top: -35px;
}

.avatar_select {
    max-height: 50px;
    margin-top: 15px;
}

.avatar_radio input {
    margin-top:15px;
}

.modal-body {
    background-color: #3a3838;
    color: white;
    padding-top: 25px;
}

.topic_content {
    padding: 15px;
    background-color: white;
    font-size: 125%;
}

.avatar_topic {
    max-width: 35px;
}

.comment-row {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #3a3838;
    color: white;
    text-align: center;
}

.footer-text {
    margin-top: 10px;
    font-size: 18;
}

.footer-text a {
    color: white;
}