<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}Base{% endblock title %} - Ninja Tech Forum</title>

    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://s30.postimg.org/6mdag8cip/ninja.png">
    <link rel="stylesheet" type="text/css" href="/assets/custom/css/style.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Orbitron" rel="stylesheet">


</head>

<body>

        <nav class="navbar navbar-inverse">
            <div class="container">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand orbitron-font" href="/">Ninja Tech Forum</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-left">
                      <li><a href="/">Home</a></li>
                      <li><a href="/topic/create">Create Topic</a></li>
                      {% if user %}
                      <li><a href="/user/profile">My Profile</a></li>
                      {% endif %}
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {% if user %}
                        <li><a href="/user/profile">{{ user.email }}</a></li>

                        <li><a href="{{logout_url}}">Logout</a></li>
                      {% else %}
                        <li><a href="{{login_url}}">Login</a></li>
                      {% endif %}
                  </ul>
                </div><!-- /.navbar-collapse -->
            </div>
          </div><!-- /.container-fluid -->
        </nav>

        {% if not piskotki%}
            <div class="alert alert-warning" role="alert">
                <p>This page uses cookies! Do you acept?</p>
                <form method="post" action="/set-cookie">
                    <button class="btn btn-success btn-xs">Sprejemam</button>
                </form>
            </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
        <div class="footer">
            <div class="footer-text">
                <p>Ninja Tech Forum &copy; 2017 - Icons made by
                    <a href="http://www.flaticon.com/authors/darius-dan" title="Darius Dan">
                        Darius Dan
                    </a> from
                    <a href="http://www.flaticon.com" title="Flaticon">
                        www.flaticon.com
                    </a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                        CC 3.0 BY
                    </a>
                </p>
            </div>
        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap/js/bootstrap.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="../assets/custom/js/script.js"></script>

</body>

</html>