{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div>
                        <img id="ninja-logo" class="img-responsive" src="https://s30.postimg.org/6mdag8cip/ninja.png">
                    </div>
                </div>
                <div class="col-sm-9">
                    <h1 class="orbitron-font">Ninja Tech Forum</h1><br>
                    <p class="lead">The best tehnical forum!</p><br>
                    {% if user %}
                        {% if forum_subscriber %}
                            {% if not forum_subscriber.forum_subscription %}
                                <p class="jumbotronSubP">Subscribe to get the latest topics -</p>
                                <form style="float: left;" action="/forum_subscription/{{ forum_subscriber.key.id() }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                    <button class="btn btn-info jumbotronSubBtn">Subscribe!</button>
                                </form>

                            {% else %}
                                <p class="jumbotronSubP">Unsubscribe from forum -</p>
                                <form action="/forum_unsubscribe/{{ forum_subscriber.key.id() }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                    <button class="btn btn-default jumbotronSubBtn">Unsubscribe!</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="light-grey-box"></div>

    <div class="topic_list_box" style="background-color:white;">
        <div class="container">
            <table id="topicTable" class="table display">
                <thead>
                    <tr>
                      <th>Topic title:</th>
                      <th>Comments:</th>
                      <th>Creator:</th>
                      <th>Created on:</th>

                    </tr>
                </thead>
                <tbody class="topic_list_seznam">
                    {% for topic in topic_list %}
                        <tr class="clickable-row" data-href="/topic/{{ topic.key.id() }}">
                          <td>{{ topic.title[0:30] + "..." }}</td>
                           <td>{{ topic.comment_sum }}</td>
                          <td>{{ topic.author_email.partition("@")[0] }}</td>
                          <td>{{ topic.created.strftime('%d.%m.%Y at %H:%M') }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

    <div class="light-grey-box-2 margin-grey-box"></div>

{% endblock content %}






