{% extends "base.html" %}

{% block title %}Topic - Create{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 topic_create_box">
                <div class="topic_author">
                    <h2>Create Topic:<img class="create_topic_img" src="https://s8.postimg.org/sqpim1d5h/printer.png"></h2>
                </div>
                <div style="margin-bottom: 80px;" class="create-form">
                    {% if user %}
                    <form method="post">

                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                        <div class="form-group">
                            <label>Title:</label>
                            <input class="form-control" name="title" required>
                        </div>

                        <div class="form-group">
                            <label>Content:</label>
                            <textarea class="form-control" rows="6" name="content" required></textarea>
                        </div>

                        <div class="form-group">
                            <label id="create_topic_sum_label"></label>
                            <input class="form-control" id="create_topic_sum" required>
                        </div>

                        <button id="create_topic_btn" class="btn btn-default">Submit</button>
                    </form>
                    {% else %}
                    <p style="font-size:125%;">You have to be logged in to make a new topic!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

