{% extends "base.html" %}

{% block title %}Topic{% endblock title %}

{% block content %}
    <div class="siva">
        <div class="container">

            <div class="row">
                <h1>Title: {{ topic.title }}</h1>
                <div class="topic_box">
                    <div class="topic_author">
                        <img class="avatar_topic" src="{{ topic.author_avatar }}"> - {{ topic.author_email }}, {{ topic.created.strftime('on %d.%m.%Y at %H:%M') }}
                        {% if user %}
                            {% if user.email == topic.author_email %}
                                <a class="btn btn-default" href="/topic/{{ topic.key.id() }}/edit">Edit</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="topic_content">{{ topic.content }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    {% if comments %}
                    <div>
                        <h3>Comments ({{ comments_sum }}):</h3>
                    </div>
                    {% endif %}

                    {% for comment in comments %}
                    <div style="margin-bottom: 20px;" class="topic_box">
                        <div class="topic_author">
                             <img class="avatar_topic" src="{{ comment.author_avatar }}"> - {{ comment.author_email }}, {{ comment.created.strftime('on %d.%m.%Y at %H:%M') }}
                        </div>
                        <div class="topic_content">{{ comment.content }}</div>
                    </div>
                    {% endfor %}

                </div>
                <div style="margin-bottom: 80px;" class="col-sm-offset-2 col-sm-8">
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                        <div class="form-group">
                            <label>Add comment:</label>
                            <textarea class="form-control" rows="2" name="content" required></textarea>
                        </div>
                        <button class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}