{% extends "base.html" %}

{% block title %}Topic{% endblock title %}

{% block content %}
    <div class="siva">
        <div class="container">

            <div class="row">
                <h1>Title: {{ topic.title }}</h1>
                <div class="topic_box">
                    <div class="topic_author">
                        <img class="avatar_topic" src="{{ topic.author_avatar }}"> - {{ topic.author_email }}, {{ topic.created.strftime('on %d.%m.%Y at %H:%M') }}

                        {% if user %}
                            {% if not user.email == topic.author_email %}
                                {% if not subscriber %}
                                <form action="/add_subscriber/{{ topic.key.id() }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                    <input class="create_topic_img sub_img" type="image" src="https://s15.postimg.org/6nwlnmesb/plus.png" data-toggle="tooltip" title="Subscribe to this topic" alt="submit">
                                </form>
                                {% else %}
                                <form action="/delete_subscriber/{{ topic.key.id() }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                                    <input class="create_topic_img sub_img" type="image" src="https://s21.postimg.org/t6we2pp4n/minus.png" data-toggle="tooltip" title="Unsubscribe from this topic" alt="submit">
                                </form>
                                {% endif %}
                            {% endif %}

                            {% if user.email == topic.author_email or user_admin %}
                                <div class="edit_delete">



                                    <a href="#" data-toggle="modal" data-target="#deleteTopicModal">
                                        <img class="create_topic_img" src="https://s22.postimg.org/4px6u3469/cancel.png">
                                    </a>

                                    <a href="/topic/{{ topic.key.id() }}/edit" data-toggle="tooltip" title="Edit topic">
                                        <img class="create_topic_img" src="https://s30.postimg.org/pz51viyk1/speech_bubble.png">
                                    </a>

                                    <!-- Modal - delete topic -->
                                    <div class="modal fade" id="deleteTopicModal" tabindex="-1" role="dialog" aria-labelledby="deleteTopicModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <form method="post" action="/topic/{{topic.key.id()}}/delete">
                                                <div class="modal-content">

                                                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                                                    <div class="modal-body">
                                                        <p>
                                                            Do you really want to delete this topic?
                                                        </p>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger">Delete topic</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End modal - delete topic -->

                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="topic_content">{{ topic.content }}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                    {% if comments %}
                    <div>
                        <h3>Comments ({{ comments_sum }}):</h3>
                    </div>
                    {% endif %}

                    {% if not user %}
                    <div style="margin-bottom: 20px;" class="topic_box">
                        <div class="topic_content">You have to be logged in to comment on a topic!</div>
                    </div>

                    {% endif %}

                    {% for comment in comments %}
                    <div style="margin-bottom: 20px;" class="topic_box">
                        <div class="topic_author">
                             <img class="avatar_topic" src="{{ comment.author_avatar }}"> - {{ comment.author_email }}, {{ comment.created.strftime('on %d.%m.%Y at %H:%M') }}
                        </div>
                        <div class="topic_content">{{ comment.content }}</div>
                    </div>
                    {% endfor %}
                </div>

                <div style="margin-bottom: 80px;" class="col-sm-offset-2 col-sm-8">
                    {% if user %}
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                        <div class="form-group">
                            <label>Add comment:</label>
                            <textarea class="form-control" rows="2" name="content" required></textarea>
                        </div>
                        <button class="btn btn-default">Submit</button>
                    </form>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
{% endblock content %}