{% extends "base.html" %}

{% block title %}User Profile{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 topic_create_box">
                <div class="topic_author">
                    <h2>My Profile:<img class="create_topic_img" src="https://s2.postimg.org/6avule161/profile.png"></h2>
                </div>
                {% for user in user_profile %}
                <div class="create-form profile_data">

                    <p>First name: {{ user.first_name }}</p>
                    <p>Last name: {{ user.last_name }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Profile image: <img class="profile_data_img" src="{{ user.avatar_url }}"></p><br>

                    <a class="btn btn-default" href="/profile/{{user.key.id()}}/edit">Edit Profile</a>

                </div>

                {% endfor %}
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px;">
            <div class="col-sm-6 col-sm-offset-3">
                {% if user_comments_sum %}
                    <div>
                        <h3>Comments ({{ user_comments_sum }}):</h3>
                    </div>
                    {% endif %}

                    {% for comment in user_comments %}
                    <div style="margin-bottom: 20px;" class="topic_box">
                        <div class="topic_author">
                            <a class="profile_topic_title" href="/topic/{{ comment.topic_id }}" data-toggle="tooltip" title="{{ comment.topic_title }}">Topic title: {{ comment.topic_title[0:55] + "..." }}</a>

                        </div>
                        <div class="topic_content">
                            <p>Commnet: {{ comment.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}