{% extends "base.html" %}

{% block title %}User Profile{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 topic_create_box">
                <div class="topic_author">
                    <h2>My Profile:<img class="create_topic_img" src="https://s2.postimg.org/6avule161/profile.png"></h2>
                </div>
                {% if user_profile %}
                <div class="create-form profile_data">

                    <p>First name: {{ user_profile.first_name }}</p>
                    <p>Last name: {{ user_profile.last_name }}</p>
                    <p>Email: {{ user_profile.email }}</p>
                    <p>Profile image: <img class="profile_data_img" src="{{ user_profile.avatar_url }}"></p><br>

                    <a class="btn btn-default" href="/profile/{{user_profile.key.id()}}/edit">Edit Profile</a>

                </div>

                {% endif %}
            </div>

            <div class="col-sm-7 commentTableBox">
                {% if user_comments_sum %}

                    <table id="commentTable" class="table table-striped" width="100%" cellspacing="0">

                        <thead>
                            <tr>
                                <th>Topic Title:</th>
                                <th>Comment:</th>
                                <th>Created:</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for comment in user_comments %}
                            <tr>
                                <td>{{ comment.topic_title[0:25] + ".." }}</td>
                                <td><a href="/topic/{{ comment.topic_id }}">{{ comment.content[0:25] + ".." }}</a></td>
                                <td>{{ comment.created.strftime('%d.%m.%Y at %H:%M') }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}